#center{
  margin: 0 auto;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: "Courier New", Times, serif;
}
#center img{
  width: 50%;
  height: 45%;
  border: 2px solid #37629c;
  border-radius: 5px;
  background-color: #b4eaea;
}

